@import './reset.less';

// breakpoints
@mobileBreakpoint: 550px;
@tabletBreakpoint: 750px;

// font sizes for root
@desktopRootFontSize: 100%;
@mobileRootFontSize: 150%;

// colors
@primaryColor: antiquewhite;
@secondaryColor: lightgrey;

// paddings
@largePadding: 1rem;
@mediumPadding: 0.5rem;

// mixins
.my-flex-defaults() {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

:root {
  font-size: @desktopRootFontSize;

  @media(max-width: @mobileBreakpoint) {
    font-size: @mobileRootFontSize;
  }
}

#petsContainer {
  margin: 0 auto;
  max-width: 800px;

  .boxes {
    display: flex;

    @media(max-width: @tabletBreakpoint) {
      flex-direction: row-reverse;
    }

    @media(max-width: @mobileBreakpoint) {
      flex-direction: column;
    }
  }
}

.box {
  padding: @largePadding;

  &.box-a {
    background-color: @primaryColor;
  }

  &.box-b {
    background-color: @secondaryColor;
    border: 0.25rem dashed black;
  }

  &.box-c {
    background-color: @secondaryColor;
  }
}

.box.box-c {
  background-color: beige
}

header {
  .my-flex-defaults();

  padding: @mediumPadding;
  background-color: lightcoral;
  color: white;
}

@media(max-width: @mobileBreakpoint) {
  header {
    flex-direction: column;
  }
}

footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: lightcoral;
  color: white;
}

a {
  color: inherit;
}

h1, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0.5rem;
}

footer {
  font-size: 75%;
}

footer p {
  margin: 1em 0;
  padding: .5em;
  border: .25em solid white;
}

article p:nth-of-type(1) {
  color: green;
}

article p:nth-of-type(2) {
  color: blue;
  line-height: 1.5;
}